.container {
    max-height: 60vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

.field {
    width: 80vw;
    max-width: 600px;
}

legend{
    font-size: 130%;
    display: flex;
    justify-content: space-between;
}

.btn-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    gap: 10px;
}
.btn-div > div {
    display: flex;
    gap: 10px;
}

.attachment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.attachment {
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
    padding-left: 10px;
}