<div class="content-wapper">
    <div>
        <mat-tab-group>
            <mat-tab label="Resumen">
                <admin-dashboard></admin-dashboard>
            </mat-tab>
            <mat-tab label="Configuracion">
                <div class="input-row">
                    <admin-config></admin-config>
                    <admin-property-attributes></admin-property-attributes>
                </div>
            </mat-tab>
            <mat-tab label="Auditores">
                <admin-auditor-list></admin-auditor-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>