.container {
    max-height: 60vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

legend{
    font-size: 130%;
    display: flex;
    justify-content: space-between;
}

.btn-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.picture-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.picture {
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
}
.picture > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}